<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Estado de Red - OSPF</title>
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>

  <header class="header">
    <h1>Dashboard de Estado de Red - OSPF</h1>
    <div class="router-selector">
      <!-- <label for="router">Selecciona un router:</label>
      <select id="router">
        <option value="192.168.1.1">Router R1 (192.168.1.1)</option>
        <option value="192.168.1.2">Router R2 (192.168.1.2)</option>
        <option value="192.168.1.3">Router R3 (192.168.1.3)</option>
      </select> -->
    </div>
  </header>

  <main class="container">
        <section class="interfaces">
            <h2>Interfaces del Router</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Admin Status</th>
                        <th>Oper Status</th>
                        <th>ipv4</th>
                        <th>ipv6</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for iface in interfaces %}
                    <tr>
                        <td>{{ iface.name }}</td>
                        <td>{{ iface.admin_status }}</td>
                        <td>{{ iface.oper_status }}</td>
                        <td>{{ iface.ipv4 }}</td>
                        <td>{{ iface.ipv6 }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>    
        </section>

        <br>
        <section class="protocols">
        <!-- Vecinos OSPF -->
        <h2>Vecinos OSPF</h2>
        <table>
            <thead>
                <tr>
                    <th>Router ID</th>
                    <th>Interfaz</th>
                    <th>Estado</th>
                    <th>Dirección del Vecino</th>
                </tr>
            </thead>
            <tbody>
                {% for neighbor in ospf_neighbors %}
                <tr>
                    <td>{{ neighbor.router_id }}</td>
                    <td>{{ neighbor.interface }}</td>
                    <td>{{ neighbor.state }}</td>
                    <td>{{ neighbor.neighbor_address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>

        <br>
        <section class="routes">
        <!-- Tabla de Rutas -->
        <h2>Tabla de Rutas</h2>
        <table>
            <thead>
                <tr>
                    <th>Prefijo</th>
                    <th>Next Hop</th>
                    <th>Métrica</th>
                    <th>Origen</th>
                </tr>
            </thead>
            <tbody>
                {% for route in routes %}
                <tr>
                    <td>{{ route.prefix }}</td>
                    <td>{{ route.next_hop }}</td>
                    <td>{{ route.metric }}</td>
                    <td>{{ route.source_protocol }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </section>

  </main>

  <footer class="footer">
    <p>Última actualización: {{ last_update }}</p>
  </footer>

</body>
</html>